<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introdução às Django Class Based Views - PyJamasConf</title>
</head>
<body>
    <h1>Introdução às Django Class Based Views - PyJamasConf</h1>
    <h2>Lista de Pessoas</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            
            {% for p in object_list %}
                <tr>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.email }}</td>
                </tr>
            {% endfor %}
                
        </tbody>
    </table>
</body>
</html>